# for vscode
**vscode**

# for vercel
.vercel

# for venv
venv

# for env files
.env.local
.env.development
.env.development.local
.env.test
.env.production
.env

# for sqlite
*.sqlite**

# for app files
**__pycache__**
content

# for django
blog/migrations